.footer {
  display: flex;
  align-items: center;
  padding: 30px 104px 26px;
}

.footer__copyright {
  font-size: 16px;
  color: #b6bcbf;
  margin: 0;
}

.footer__column {
  margin-left: auto;
}

.footer__column_socials {
  margin-left: 40px;
}

.footer__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  gap: 40px;
}

.footer__list_socials {
  gap: 24px;
}

.footer__link {
  font-size: 18px;
  color: #1a1b22;
  text-decoration: none;
  transition: opacity linear 0.3s;
}

.footer__link_social {
  font-size: 0;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__icon {
  height: 21px;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: auto;
    padding: 21px 40px 19px;
  }
}
